<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>onlinewb3</display-name>
  <servlet>
    <servlet-name>ZhuCe</servlet-name>
    <servlet-class>com.ycl.control.ZhuCe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuCe</servlet-name>
    <url-pattern>/ZhuCe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.ycl.upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>com.ycl.doLogin.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/DoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoad</servlet-name>
    <servlet-class>com.ycl.download.DownLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoad</servlet-name>
    <url-pattern>/DownLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filelist</servlet-name>
    <servlet-class>com.ycl.filelist.Filelist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filelist</servlet-name>
    <url-pattern>/Filelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnRecord</servlet-name>
    <servlet-class>com.ycl.returnRecord.ReturnRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnRecord</servlet-name>
    <url-pattern>/ReturnRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.ycl.delete.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Exit</servlet-name>
    <servlet-class>com.ycl.Exit.Exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/Exit</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>