.header_top {
    width: 100%;
    height: 83px;
    position: absolute;
    background-color: rgba(39, 110, 81, 1);
}

.header {
    position: relative;
    width: 1500px;
    left: 10%;
}

 

/*header*/

#versionInf {
    float: left;
    margin-left: 20px;
}

.details {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.clearfix {
    *zoom: 1;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#avatar {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}

#avatar>img {
    height: 170px;
    border: 1px solid black;
    border-radius: 100%;
}

#balabala {
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#user-information {
    position: absolute;
    top: 50%;
    left: 35%;
}

#username {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

#role {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

#jy {
    float: right;
    margin-right: 100px;
}

#jy>img {
    height: 200px;
}

#title {
    float: left;
    margin-left: 50px;
    color: #fff;
}

#search {
    left: 30%;
    width: 550px;
}

#search-bar {
    float: left;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    height: 34px;
    width: 380px;
    background: url(../img/search.png);
}

#btn-search {
    float: right;
    width: 100px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    color: #aaaaaa;
    text-decoration: none;
}

/*center*/

.center {
    color: #000;
    width: 1500px;
    left: 10%;
    top: 80px;
    background-color: #ffffff;
    background-image: url(../img/loginBG.jpg);
    position: relative;
    background-repeat:no-repeat;
   
    background-size:100% 100%;
     background-attachment: fixed;
    height: 805px;
}

#funcmenu {
    background-color: #fff;
    position: absolute;
    left: 175px;
    width: 170px;
    top: 100px;
}

.selectedfunction {
    background-color: rgba(39, 110, 81, 1);
    color: #fff;
}

.function_area {
    width: 100%;
    height: 100%;
    display: none;
}

.selected_area {
    display: inline;
}

.functions {
    cursor: pointer;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
    overflow-wrap: break-word;
    text-transform: none;
    font-size: 20px;
    font-family: "Arial Normal", Arial;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    height: 80px;
    line-height: 80px;
    border: gray 1px solid;
}

#functions_area {
    position: absolute;
    top: 100px;
    left: 500px;
    width: 820px;
    height: 800px;
    background-color: #fff;
    border: #000 1px solid;
}

/*底部*/

.footer {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    width: 1500px;
    left: 10%;
    height: 115px;
    position: relative;
    background-color: rgba(39, 110, 81, 1);
    top: 0px;
}

#versionInf {
    float: left;
    margin-left: 20px;
}

.details {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}
 


/*登录模块*/

#loginblock{


    background: rgba(0, 0, 0, .3);
    
    height:450px;
    width: 500px;
    position: relative;
    left:850px;
    top: 150px;
    padding-right: 60px;
    
} 
#loginform{
    position: relative;
    top: 30px;
}
#login_btn{
     position: relative;
    left: 80px;
     
}
#message{
    position: relative;
    left: 180px;
}