<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/administrator.css">

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../static/js/jquery-1.12.4.js"></script>
    <script src="../static/js/administrator.js"></script>
    <script src="../static/js/md5.js"></script>




</head>

<body>
    <div class="header">

        <div class="header_top">
            <h1 id="title">
                软件售后服务系统
            </h1>
            
            <div id="userHead">

                <!--
        <img src="../img/avatar.jpg" alt="头像">
    -->
                <div class="el-icon-s-custom" id="head_icon"></div>
                <div id="userName"></div>
                <span id="logout">退出</span>


            </div>
        </div>

    </div>
    <div class="center">
        <div id="funcmenu">

            <el-col :span="24">

                <el-menu default-active="0" class="el-menu-vertical-demo" @select="handleSelect" @open="handleOpen"
                    @close="handleClose" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b"
                    id="el_funcmenu" style="border-right: 0px solid #ffffff;">
                    <el-menu-item v-bind:index="item.index" v-for="(item, index) in funcs"
                        style="border-right: 1px solid #ffffff;">
                        <i class="el-icon-setting"></i>
                        <span slot="title">{{item.fncname}}</span>
                    </el-menu-item>


                </el-menu>
            </el-col>

        </div>
        <div id="functions_area">
            <div class="function_area selected_area" id="service_processing">
                <div id="service_dialog">
                    <el-dialog v-bind:title="solution" :visible.sync="dialogFormVisible">
                        <p>
                            <span> 软件售后服务编号:</span>
                            <span>{{serviceId}}</span>
                        </p>
                        <p>
                            <span>当前状态:</span>
                            <span>{{serviceState}}</span>
                        </p>
                        <p>
                            <span>申请人:</span>
                            <span>{{Applicant}}</span>
                        </p>
                        <p>
                            <span>申请原因:</span>
                            <span>{{Application_reason}}</span>
                        </p>
                        <p v-if="way1">请输入反馈的信息：</p>
                        <textarea v-model="feedbackinf" v-if="way1" name="" id="feedback" cols="110" rows="10"
                            placeholder="请输入："></textarea>

                        <p v-if="way2">请选择更换人员的系统名称：</p>

                        <select name="" id="" v-if="way2" v-model="change_name" placeholder="请选择">
                            <option value="" v-for="item in serverlist" :key="item.name" :label="item.name"
                                :value="item.name"></option>
                        </select>

                        <p v-if="way3">请选择服务即将改变为何种状态：</p>
                        <select name="" id="stateselect" v-if="way3">
                            <option value="state1">state1</option>
                            <option value="state2">state2</option>
                            <option value="state3">state3</option>
                        </select>

                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="commit">确 定</el-button>
                        </div>
                    </el-dialog>
                </div>

                <div id="service_table_holder">
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column label="软件售后服务编号" width="164">
                            <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.serviceId }}</el-tag>
                                </div>

                            </template>
                        </el-table-column>
                        <el-table-column label="当前状态" width="164">
                            <template slot-scope="scope">
                                <span>异常</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="申请人" width="164">
                            <template slot-scope="scope">

                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.Applicants }}</el-tag>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="申请原因" width="164">
                            <template slot-scope="scope">
                                <span style="overflow: hidden">{{ scope.row.Application_reason }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="解决方式" width="164">
                            <template slot-scope="scope">
                                <select name="" width="180" v-model="scope.row.solution">
                                    <option value="" selected:disabled style="display:none">请选择</option>

                                    <option value="换人">换人</option>


                                </select>
                                <el-button size="mini"
                                    @click="solution( scope.row.serviceId,scope.row.serviceState, scope.row.Applicants, scope.row.Application_reason,scope.row.solution,scope.row.mesid)">
                                    提交 </el-button>
                            </template>

                        </el-table-column>
                    </el-table>
                </div>
                <div class="paging" id="service_page">
                    <el-pagination background layout="prev, pager, next" v-bind:total="total"
                        v-bind:current-page="current_page" v-bind:page-size="page_size"
                        @current-change="handleCurrentChange" @prev-click="prev_click" @next-click="next_click">
                    </el-pagination>
                </div>

            </div>
            <div class="function_area" id="access_setting">
                <div id="accessHead">
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                        @select="handleSelect">
                        <el-menu-item index="1">售后服务人员</el-menu-item>
                        <el-menu-item index="2">客户</el-menu-item>
                    </el-menu>
                </div>
                <div id="access_dialog">
                    <el-dialog v-bind:title="solution" :visible.sync="dialogFormVisible">

                        <p>
                            <span>用户账户:</span>
                            <span>{{userId}}</span>
                        </p>
                        <p>
                            <span>用户角色:</span>
                            <span>{{userRole}}</span>
                        </p>
                        <p>
                            <span>账号状态:</span>
                            <span>{{accountStatus}}</span>
                        </p>




                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="commit()">确 定</el-button>
                        </div>
                    </el-dialog>
                </div>
                <div id="access_setting_holder">
                    <el-table :data="tableData" style="width:100%"    >
                        <el-table-column label="用户账户" width="205">
                            <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.userId }}</el-tag>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="角色" width="205">
                            <template slot-scope="scope">


                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.userRole }}</el-tag>
                                </div>

                            </template>
                        </el-table-column>
                        <el-table-column label="账号状态" width="205">
                            <template slot-scope="scope">
                                <span>{{ scope.row.accountStatus }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="解决方式" width="205">
                            <template slot-scope="scope">
                                <select name="" width="164" v-model="scope.row.values" placeholder="请选择">
                                    <option value="" selected:disabled style="display:none">请选择</option>
                                    <option value="冻结" v-if="current === '售后服务人员'">冻结</option>

                                    <option value="在职" v-if="current === '售后服务人员'">在职</option>
                                    <option value="正常" v-if="current === '客户'">正常</option>
                                    <option value="冻结" v-if="current === '客户'">冻结</option>


                                </select>
                                <el-button size="mini"
                                    @click="solution( scope.row.id,scope.row.userId ,scope.row.userRole, scope.row.accountStatus ,scope.row.values)">
                                    提交</el-button>
                            </template>

                        </el-table-column>

                    </el-table>
                </div>

                <div class="paging" id="access_page">
                    <el-pagination background layout="prev, pager, next" v-bind:total="total"
                        v-bind:current-page="current_page" v-bind:page-size="page_size"
                        @current-change="handleCurrentChange" @prev-click="prev_click" @next-click="next_click">
                    </el-pagination>
                </div>
            </div>
            <div class="function_area" id="faq">
                <div id="faqhead">

                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                        @select="handleSelect">

                        <el-menu-item index="0">修改&删除</el-menu-item>
                        <el-menu-item index="1">添加</el-menu-item>
                    </el-menu>
                    <!--
                        
                  

                <div id="modifyfaq" class="v-center selectedfaqfunction faqfunction">
                    修改&删除
                </div>
                <div id="addfaq" class="v-center faqfunction">
                    新增
                </div>-->
                </div>
                <div id="faqcenter">
                    <div id="modifyfaqarea" class="faqarea faqshow">
                    <div id="search" class="v-center">
                        <input type="text" id="search-bar" maxlength="40">
                        
                        <a   id="btnSearch">搜索</a>
                    </div>

                        <div id="modifylist">
                            <el-table :data="items" style="width: 100%">
                                <el-table-column label="标题" width="130">
                                    <template slot-scope="scope">
                            
                                        <span style="margin-left: 10px">{{ scope.row.faqtitle }}</span>
                                    </template>
                                </el-table-column>
                            
                            
                                <el-table-column label="类型" width="130">
                                    <template slot-scope="scope">
                                        <el-popover trigger="hover" placement="top">
                            
                                            <div slot="reference" class="name-wrapper">
                                                <el-tag size="medium">{{ scope.row.faqType }}</el-tag>
                                            </div>
                                        </el-popover>
                                    </template>
                                </el-table-column>
                                <el-table-column label="详细信息" width="370">
                                    <template slot-scope="scope">
                                        <el-input type="textarea" :rows="2" v-model="scope.row.faqdetails">
                                        </el-input>
                            
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作">
                                    <template slot-scope="scope">
                                        <el-button size="mini" @click="modify(scope.row.id,scope.row.faqdetails)">修改</el-button>
                                        <el-button size="mini" type="danger" @click="del(scope.row.id)">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>

                           <!--  <div style="color: #ffffff;">
                                1
                            </div>
                            <div class="modifyitem" v-for="item in items">




                                <span class="faqtitle">{{item.faqtitle}}</span><span
                                    class="faqtype">{{item.faqType}}</span>
                                <textarea class="faqdetaile" name="" id="" cols="70" rows="6"
                                    v-model="item.faqdetails"></textarea>
                                <span class="faqdate">发布日期：{{item.faqdate}}</span>
                                <div class="faqbuttons">
                                    <button class="faqmodifybtn" @click="modify(item.id,item.faqdetails)">修改</button>
                                    <button class="faqdelbtn" @click="del(item.id)">删除</button>
                                </div>

                            </div> -->

                        </div>
                        <div class="paging" id="faq_page">
                            <el-pagination background layout="prev, pager, next" v-bind:total="total"
                                v-bind:current-page="current_page" v-bind:page-size="page_size"
                                @current-change="handleCurrentChange" @prev-click="prev_click" @next-click="next_click">
                            </el-pagination>
                        </div>
                    </div>
                    <div id="addarea" class="faqarea">
                        <el-form id="faqForm" label-width="80px">
                            <span style="color: #ffffff;">12</span>
                            <el-form-item label="目标软件" id="faqtarget">
                                <el-select v-model="faqSoftware" placeholder="请选择目标软件">
                                    <el-option v-bind:label="item.targetsoftware" v-bind:value="item.targetsoftware"
                                        v-for="item in items"></el-option>

                                </el-select>
                            </el-form-item>
                            <el-form-item label="标题">
                                <el-input v-model="faqName"></el-input>
                            </el-form-item>
                            <el-form-item label="类型">
                                <el-select v-model="faqType" placeholder="请选择类型">
                                    <el-option label="登陆异常" value="登陆异常"></el-option>
                                    <el-option label="界面无法显示" value="界面无法显示"></el-option>
                                    <el-option label="显示信息有误" value="显示信息有误"></el-option>
                                    <el-option label="其他" value="其他"></el-option>

                               <!--      .登陆异常，2.界面无法显示，3.显示信息有误，4.其他 -->

                                </el-select>
                            </el-form-item>

                            <el-form-item label="问题描述">
                                <el-input type="textarea" v-model="faqDescription"></el-input>
                            </el-form-item>
                            <el-form-item label="解决方法">
                                <el-input type="textarea" v-model="faqInfo"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="commit">立即创建</el-button>
                                <el-button type="primary" @click="cancel">取消</el-button>
                            </el-form-item>


                        </el-form>
                        

                    </div>
                </div>
            </div>
            <div class="function_area" id="aboutsoftware">
                <div id="aboutsoftwarehead">
                    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                        @select="handleSelect">

                        <el-menu-item index="0">版本信息</el-menu-item>
                        <el-menu-item index="1">售后服务软件信息</el-menu-item>
                    </el-menu>


                </div>
                <div id="versioninfarea" class="versionarea selected_versionarea">
                    <p class="version">version：1.0.0</p>
                    <p class="version">date：2020/5/17</p>
                </div>

                <div id="updatearea" class="versionarea">
                    <el-table :data="tableData" height="750" style="width: 100%">
                        <el-table-column prop="id" label="软件ID" width="180">
                        </el-table-column>
                        <el-table-column prop="softwareName" label="软件名" width="180">
                        </el-table-column>
                        <el-table-column prop="softwareInfo" label="软件描述">
                        </el-table-column>
                        <el-table-column prop="updateDate" label="更新日期">
                        </el-table-column>
                    </el-table>
                </div>
            </div>
            <div class="function_area" id="addUser">

                <el-form label-width="140px" id="user_add_form">
                    <div id="addheight"></div>
                    <el-form-item label="用户名称">
                        <el-input v-model="username" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="用户密码">
                        <el-input v-model="password" show-password maxlength="18"></el-input>
                    </el-form-item>
                    <el-form-item label="用户密码确认">
                        <el-input v-model="password_check" show-password maxlength="18"></el-input>
                    </el-form-item>
                    <el-form-item label="用户类型">

                        <el-select v-model="usertype" placeholder="请选择" clearable>
                            <el-option v-for="item in usertypes" :key="item.type" :label="item.type" :value="item.type">
                            </el-option>
                        </el-select>

                    </el-form-item>
                    <el-form-item label="负责软件" v-if="usertype === '售后服务人员'">
                        <el-select v-model="serverSoftware" placeholder="请选择" clearable>
                            <el-option v-for="item in list" :key="item.name" :label="item.name" :value="item.name">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">立即添加</el-button>
                        <el-button @click="cancel">取消</el-button>
                    </el-form-item>
                    <el-form-item>
                        <span id="adduser_message">{{message}}</span>
                    </el-form-item>

                </el-form>



            </div>

        </div>
    </div>
    <div class="footer">
       
        <span class="details">咨询电话:8888-8888</span>
        <span class="details">技术说明</span>
        <pspan class="details">帮助中心</pspan>
        <span class="details">关于我们</span>



    </div>
</body>

</html>