<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>onlinewb3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ZhuCe</servlet-name>
    <servlet-class>com.ycl.control.ZhuCe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuCe</servlet-name>
    <url-pattern>/servlet/ZhuCe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.ycl.upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>com.ycl.doLogin.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/servlet/DoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filelist</servlet-name>
    <servlet-class>com.ycl.filelist.Filelist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filelist</servlet-name>
    <url-pattern>/servlet/Filelist</url-pattern>
  </servlet-mapping>
</web-app>